AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Stroustrup
BreakBeforeBinaryOperators: true
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 80
Cpp11BracedListStyle: true
IndentWidth: 4
IndentCaseLabels: false